@{
    ViewBag.Title = "Meeting Application Form";
    Layout = "_Layout2";
}
<h1 class="h4">Meeting Apply Form</h1>
<form action="">
    <button class="btn btn-primary" type="submit">Save</button>
</form>