@{
    ViewBag.Title = "Meeting Participants List";
<main class="text-center">
    <h1 class="h4">Meeting Participants List</h1>
    <table class="table table-bordered">
        <thead>
            <tr>
                <td>Name</td>
                <td>Status</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Serhat Tomak</td>
                <td>Coming</td>
                <td>
                    <a class="btn btn-sm btn-primary" href="#">Details</a>
            </td>
        </tr>
        <tr>
            <td>Gizem Atalay</td>
            <td>Coming</td>
            <td>
                <a class="btn btn-sm btn-primary" href="#">Details</a>
            </td>
        </tr>
    </tbody>
</table>
</main>