<h1>Meeting Participants List</h1>
<table>
    <thead>
        <tr>
            <td>Name</td>
            <td>Email</td>
            <td>Status</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Serhat Tomak</td>
            <td>info@serhattomak.com</td>
            <td>Coming</td>
            <td>
                <a href="#">Details</a>
            </td>
        </tr>
        <tr>
            <td>Gizem Atalay</td>
            <td>info@gizematalay.com</td>
            <td>Coming</td>
            <td>
                <a href="#">Details</a>
            </td>
        </tr>
    </tbody>
</table>